@import '../App.css';



.contacts-bg{
  height:100vh;
  display:grid;
  place-content: center;
  place-items: center;
  grid-template-columns: 700px;

}

.contacts-container{
  max-width: 700px;
  width:600px;
  width:100%;
  min-height: 500px;
  color:#3D3B40;
}

.contacts-container h2{
  text-align: center;
  margin-bottom:50px;
}

.contacts-container form{
  display: grid;
  place-content: center;
  place-items: center;
  gap:20px;
}

.contacts-container label, .contacts-container button{
  display: block;
  text-align: center;
}

.contacts-container input{
  padding:10px;
  border: 1px solid #eee;
  border-radius: 9px;
  outline:none;
  font-family: "Playfair Display", sans-serif;
  width:100%;
}

.contacts-container button{
  padding: 10px 20px;
  background-color: #eee;
  outline:none;
  border: 1px solid #eee;
  border-radius: 9px;
  cursor: pointer;
  font-family: "Playfair Display", sans-serif;
  font-size:1em;
}


.contacts-container textarea{
  padding:30px;
  border-radius: 9px;
  border:1px solid #eee;
  outline:none;
  font-family: "Playfair Display", sans-serif;
  width: 300px;
  height:100px;
  resize: none;
  display:block;


}