.Nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3E1D9;
  color: #3D3B40;
  height:100px;
  z-index: 2000;
  position: relative;
  border-bottom: 1px solid #3D3B40;
}
.Nav-logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  height: 5vh;
}

.Nav-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 5vh;
  list-style-type: none;
}

.Nav-nav li {
  cursor: pointer;
  font-weight: 500;
  transition: font-size 0.5s;
}

.Nav-nav li:hover {
  font-size: 2rem;
}
