@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");

.App {
  font-family: "Playfair Display", sans-serif;
  position: relative;
  z-index: 2000;
  height:100vh;
  overflow: hidden;
}


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --main-color: #E3E1D9;
  --font-color: black;
}